<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229107265725-v31j7l9rcpjtcub7b8fknh3l4ft5ksi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229107265725-v31j7l9rcpjtcub7b8fknh3l4ft5ksi1</string>
	<key>API_KEY</key>
	<string>AIzaSyDl3ngr6X4pTaC0PV6gqomHwMj7FWW9BQE</string>
	<key>GCM_SENDER_ID</key>
	<string>229107265725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon2022</string>
	<key>PROJECT_ID</key>
	<string>hackathon-2022-7c673</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-2022-7c673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229107265725:ios:9050e36d905ac87ebf87d4</string>
</dict>
</plist>